[submodule "Robot"]
	path = Asset/Robot
	url = https://github.com/starry521/Robot

[submodule "URDF_models"]
	path = Asset/Scene/Object/URDF_models
	url = https://github.com/yding25/URDF_models

[submodule "Kitchen_world_models"]
	path = Asset/Scene/Object/Kitchen_world_models
	url = https://github.com/starry521/Kitchen_world_models

[submodule "third_party"]
	path = Install/third_party
	url = https://github.com/starry521/third_party
